footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  color: #69f0ae;
  background-color: #424242;
}
mat-toolbar.mat-toolbar {
  height: 6vh;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
}

mat-toolbar.mat-toolbar a:hover {
  // background-color: #8be6bafd;
  color: rgb(195, 30, 210);
}

mat-card.mat-card {
  box-shadow: 0 0.4px 2px 0 rgba(105, 240, 174, 0.5);
  
}

form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 0 auto;
  gap: 0.95rem;
}

mat-radio-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

mat-card-title {
  text-align: center;
  margin-bottom: 1rem;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

#buttonAdd {
  border: 1px solid #69f0ae;
}
input {
  display: flex;
  justify-content: center;
  text-align: center;
}

// mat-label {
//   text-align: center;
// }

// .mat-form-field-wrapper {
//   display: flex;
//   justify-content: center;
// }

// .mat-form-field-label-wrapper {
//   width: 100%;
// }

// .mat-input-element {
//   text-align: center;
// }
